<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NavegadorDefault" value="chrome"/>
    <add key="IpHub" value="http://192.168.0.10:4444/wd/hub"/>
    <add key="Local" value="true"/>
    
    <add key="Projeto" value="SayoanOliveira"/>
    <add key="ProjetoAll" value="All Projects"/>
    
    <add key="Username" value="sayoan.oliveira"/>
    <add key="Email" value="sayoan.oliveira@base2.com.br"/>
    <add key="Password" value="automacaobase2"/>
    
    <add key="PatchOperaExe" value="C:\Users\saymon.oliveira\AppData\Local\Programs\Opera\launcher.exe"/>
    <add key="URL" value="http://mantis-prova.base2.com.br/"/>
  </appSettings>
</configuration>